.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  gap: 30px;
}

.active {
  border: 1px solid rgba(255, 255, 255, 0.349);
  border-radius: 15px;
  color: red;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(200px, 100%);
  border-radius: 15px;
  padding: 1em;
  color: white;
  list-style: none;
  background-color: rgba(30, 0, 139, 0.5);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
}

li a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}

.empty {
  padding: 3em 0;
  color: white;
  font-size: 2em;
  text-align: center;
}
