.pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 40px;
}

.page {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1em;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1em;
}
