h1 {
  font-size: 2em;
}

.result {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.detailedView {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 30px auto;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 40px 10px #ffffff;
  color: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
}
