.results {
  display: flex;
  flex-grow: 1;
  gap: 40px;
  width: 100%;
  padding: 20px;
  transition: all 1s ease-in-out;
}

.not-hidden.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.results__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 0;
}

.not-hidden .results__list {
  grid-template-columns: repeat(2, 1fr);
}

.not-hidden li:hover {
  transform: scale(1);
}
