#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}
/* 
.hidden {
  visibility: hidden;

} */

.results {
  transition: all 1s ease-in-out;
}
.not-hidden.results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.results__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 0;
}

.not-hidden .results__list {
  grid-template-columns: repeat(2, 1fr);
}

.detailed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: max-content;
  border-radius: 15px;
  padding: 20px;
  color: black;
  font-size: 2em;
  background-color: rgba(255, 255, 255, 0.6);
}
.detailed-card button {
  align-self: end;
  width: fit-content;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
}

.detailed-card span {
  display: block;
}

.hidden .detailed-card {
  display: none;
}

.card-active {
  border: 1px solid white;
  border-radius: 15px;
}
.pagination {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  font-size: 1.3em;
}
.pagination button {
  margin: 0 20px 30px;
  background-color: #ffffff85;
}

.card {
  border-radius: 15px;
  list-style: none;
  background-color: rgba(255, 0, 0, 0.35);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.2);
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-top: 4px solid #b82828;
  animation: spin 1s linear infinite;
}

.loader-container p {
  margin-left: 2em;
  color: white;
  font-weight: 800;
  font-size: 2em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
