:root {
  color: #131313;
  font-family: Arial, sans-serif;

  line-height: 1.5;
  text-rendering: optimizeLegibility;
  background: url('./assets/star-wars.jpeg') no-repeat fixed center / cover;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  font-weight: 500;
  text-decoration: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(
    0deg,
    rgb(30, 28, 65) 21%,
    rgba(2, 0, 36, 0.6678921568627452) 35%,
    rgba(0, 212, 255, 0) 44%,
    rgba(2, 168, 226, 0) 68%,
    rgb(30, 28, 65) 100%
  );
}

button {
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 1.5em;
  color: white;
  font-family: inherit;
  font-weight: 800;
  background-color: #5a73949c;
  transition: 0.25s ease-in-out;
}

button:hover {
  box-shadow: 0 0 40px 10px rgba(30, 0, 139, 0.5);
  color: inherit;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

button:disabled {
  color: #7585999c;
  background-color: #36465a9c;
}

button:disabled:hover {
  box-shadow: none;
  color: #7585999c;
  background-color: #36465a9c;
  cursor: auto;
}

button:focus,
button:focus-visible,
input:focus,
input:focus-visible {
  outline: 4px #637997;
}
